
.active{
    text-decoration: none;
    color: tomato;
    font-size: 20px;
  }
  .default{
    text-decoration: none;
    color: black;
   font-size: 17px;
  }
  .navlink{
    display: inline-block;
   padding: 20px 16px 0px 16px;
   text-decoration: none;
   color: #36495a;
   text-transform: uppercase;
   font-size: 12;
   font-weight: bold;
   transition: .2s;
}
.navlink:hover{
    cursor: pointer;
   color: tomato;
}

.drawernavbar{
    border: 1px solid lightgray;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}