.maindiv{
    background-color: black;
    background-image: linear-gradient(to right, white , rgb(49, 48, 48));
    height: max-content;
    width:98vw
}
.admin_categories{
    width: 100%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 5px;
}
.sidebar{
    position: fixed;
    padding:1rem;
    background-image: linear-gradient(45deg, black, white,black);
    border-right: 2px solid black;
        text-align: center;
    margin: auto;
    background-image: linear-gradient(to right, white , rgb(49, 48, 48));
}
.rightbar{
    position: relative ;
    left: 12%;

}

