.admin_categories{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border:1px solid black;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 5px;
}